body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,figure,ul,ol,li{padding: 0; margin: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
input:focus{outline:none;}
.clearfix:before,.clearfix:after ,.ac-list div:before,.ac-list div:after{
  content: " ";
  display: table;
}
.clearfix:after ,.ac-list div:after{
  clear: both;
}
.tc{text-align: center;}
.tr{text-align: right;}
.tl{text-align: left;}
.pull-left{float: left;}
.pull-right{float: right;}
.border-bottom{background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat;}
.container{padding: 0 16px;}
body{font-family: PingFangSC-Regular,"Microsoft Yahei"; color: #444;-webkit-font-smoothing: antialiased}
.font12{font-size: 12px; color: #777;}
.ml20px{margin-left: 20px;}

/* 各种图标 */
[class^="icon-"],[class*=" icon-"]{display: inline-block;vertical-align: middle;}
.icon-right{width: 8px; height: 12px; background: url('../assets/icon/entry@2x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
.icon-down{width: 13px; height: 12px; background: url('../assets/icon/pull_down@2x.png') no-repeat center center;-webkit-background-size: 13px 8px;background-size: 13px 8px;}
.icon-order{width: 16px; height: 20px; background: url('../assets/icon/order@2x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
.icon-study-empty,.icon-collection-empty,.icon-order-empty,.icon-assess-empty{ width: 154px; height: 160px;}
.icon-study-empty{background: url('../assets/bg/learning-center@2x.png') no-repeat center center; background-size: 154px 160px;}
.icon-collection-empty{background: url('../assets/bg/collect@2x.png') no-repeat center center; background-size: 154px 160px;}
.icon-order-empty{background: url('../assets/bg/indent@2x.png') no-repeat center center; background-size: 154px 160px;}
.icon-assess-empty{background: url('../assets/bg/evaluate@2x.png') no-repeat center center; background-size: 154px 160px;}
.icon-reservations-empty{background: url('../assets/bg/succeed@2x.png') no-repeat center center; background-size: 132px 120px; width: 132px; height: 120px;}
.icon-close,.icon-teacher,.icon-student,.icon-online,.icon-organization{width: 20px; height: 20px;}
.icon-close{background: url('../assets/close/gray@2x.png') no-repeat center center; background-size: 20px 20px;}
.icon-teacher{background: url('../assets/icon/teacher@2x.png') no-repeat center center; background-size: 20px 20px;}
.icon-student{background: url('../assets/icon/student@2x.png') no-repeat center center; background-size: 20px 20px;}
.icon-online{background: url('../assets/icon/online@2x.png') no-repeat center center; background-size: 20px 20px;}
.icon-organization{background: url('../assets/icon/organization@2x.png') no-repeat center center; background-size: 20px 20px;}
.icon-hot,.icon-history,.icon-trash,.icon-reply,.icon-close{width: 16px;height: 16px;}
.icon-hot{background: url('../assets/icon/hot@2x.png') no-repeat center center; background-size: 16px 16px;}
.icon-history{background: url('../assets/icon/history@2x.png') no-repeat center center; background-size: 16px 16px;}
.icon-trash{background: url('../assets/trash@2x.png') no-repeat center center; background-size: 16px 16px;}
.icon-reply{background: url('../assets/icon/reply_pre@2x.png') no-repeat left center; background-size: 16px 16px;}
.icon-close{background: url('../assets/register/close@2x.png') no-repeat; background-size: 16px 16px;}
.icon-yes{background: url('../assets/icon/serverok@2x.png') no-repeat left center; background-size: 10px 10px; padding-left: 14px; font-style: normal; margin-right: 4px;}
.icon-smile{width: 30px; height: 30px;background: url('../assets/icon/smile@2x.png') no-repeat left center; background-size: 30px 30px;}
.icon-tsearch{width: 20px; height: 20px;background: url('../assets/icon/tsearch@2x.png') no-repeat left center; background-size: 20px 20px;}
.icon-dance{background: url('../assets/icon/dance@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-draw{background: url('../assets/icon/draw@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-calligraphy{background: url('../assets/icon/calligraphy@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-musical{background: url('../assets/icon/musical@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-readbook{background: url('../assets/icon/readbook@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-manual{background: url('../assets/icon/manual@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-tech{background: url('../assets/icon/tech@2x.png') no-repeat left center; background-size: 26px 26px;}
.icon-sports{background: url('../assets/icon/sports@2x.png') no-repeat left center; background-size: 26px 26px;}
/* 找老师 */
.t-head{padding-top: 6px;}
.t-head span a{color: #000; font-size: 13px;}
.carousel-box{position: relative; visibility: hidden; overflow: hidden;}
.t-type{position: relative;}
.carousel-item{ position: relative; float: left;}
.t-type ul{flex-direction:row;flex-wrap:wrap;padding: 10px 0; width: 100%;}
.t-type ul li{-webkit-flex: 25%; flex: 25%; text-align: center;padding: 10px 0;}
.t-type ul p{font-size: 11px; color: #777; line-height: 20px;}
.t-type ul i{width: 26px; height: 26px; margin-bottom: 4px;}
.carousel-btn{position: absolute; width: 100%; bottom: 8px;}
.carousel-btn ul{width: 42px; margin: 0 auto; overflow: hidden;}
.carousel-btn li{width: 13px; height: 4px; background-color: #dcdcdc; border-radius: 6px; margin-right: 4px; margin-left: 4px; float: left;}
.carousel-btn li.cur{background-color: #fed846;}
.recom-title strong{font-size: 20px; display: inline-block; line-height: 28px;}
.recom-title span{font-size: 14px; color: #999; position: relative; display: inline-block; padding-left: 12px; line-height: 20px;}
.recom-title span:before{content: ''; display: inline-block; width: 5px; height: 5px; border-radius: 50%; background-color: #d8d8d8; position: absolute; left: 0; top: 7px;}
.recom-title a{color: #A5B3F4; font-weight: normal; font-size: 13px; line-height: 28px; display: inline-block;}
/* logo */
.logo{width: 26px; height: 24px; background: url('../assets/logo@2x.png') no-repeat left center; background-size: 26px 24px; margin-right: 12px;}
/* 家长服务  活动中心 开始 */
.ac-list img{display: block; width: 100%; border-radius: 15px 15px 0 0;}
.ac-list li{border-radius: 15px; box-shadow: 0 3px 5px rgba(0, 0, 0, .1); margin: 24px 0;}
.ac-list p,.ac-list div{padding-left: 16px; padding-right: 16px;}
.ac-list p{font-size: 15px; line-height: 36px; color: #444; margin-top: 4px;}
.ac-list span{line-height: 16px; display: inline-block; margin-bottom: 10px;}
.ac-list .ac-des{font-size: 12px; color: #999; float: left;}
.ac-list .ac-time{font-size: 10px; color: #444; float: right;}
/* 家长服务  活动中心 结束 */
/* 家长服务  我的订单,学习中心 开始 */
h2.main-title{font-size: 24px; line-height: 60px; padding: 0 16px;}
	/* tab */
.tab-control{display: table; width: 100%;table-layout: fixed; padding-bottom: 8px; 
background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat;
}
.tab-control a{display: table-cell; font-size: 15px; font-weight: bold; line-height: 38px; text-align: center; width: 1%; position: relative; color: #3F3F3F;}
.tab-order a.active{color: #FED846;}
.tab-order a.active:after{display: inline-block; width: 16px; height: 3px;background-color: #FED846; content: ''; position: absolute;left: 50%; margin-left: -8px; bottom: 0;}
.tab-teacher a{font-size: 13px; line-height: 32px; color: #777;}
.tab-teacher a.active{color: #FED846;}

/* list */
.order-list{padding: 0 16px;}
.order-list li,.teacher-list li{background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat; padding-bottom: 12px;}
.order-list li section,.teacher-list li,.study-stage dl,.order-left dl,.flexbox{display: -webkit-flex; display: -moz-flex; display: flex;}
.order-list li .order-left,.order-list dd,.flex1{-webkit-flex: 1; flex: 1;}
.order-list mark,.teacher-list mark{background-color: #FED846; border-radius: 4px; font-size: 12px; font-weight: normal; padding: 2px;}
.order-list h3,.teacher-info h3{line-height: 36px;}
.order-list h3 strong,.teacher-info h3 strong{font-size: 15px; color: #444;}
.order-list a{display: inline-block; color: #4A4A4A;}
.order-list dt,.teacher-photo{width: 64px; height: 64px; float: left; padding-right: 12px;}
.order-list dt img,.teacher-photo img{display: block; width: 100%; border-radius: 10px;}
.order-list dd{line-height: 22px;}
.order-list dd h4{font-size: 13px;}
.order-list dd p{font-size: 12px;}
.order-list dd .time{font-size: 10px; margin-top: 6px; color: #444;}
.order-list dd span{padding-right: 12px; color: #777;}
.order-list .tr{padding-top: 12px;}
.list-right{width: 68px;}
.list-right span,.list-right strong{display: block; text-align: right;}
.list-right .pay-status{font-size: 13px; font-weight: bold; line-height: 24px; margin-top: 4px;}
.nopay{color: #FED846;}
.okpay{color: #A5B3F4;}
.cancelpay{color: #999;}
.price{color: #FD8080; font-size: 20px; margin-top: 6px;}
.status{font-size: 10px;}
.cancel-btn,.delete-btn{font-size: 12px; color: #4a4a4a; border: 1px solid rgba(153,153,153,.5); border-radius: 24px; line-height: 24px; padding: 0 12px;}
.order-list h5{font-size: 13px; color: #4a4a4a; line-height: 32px;background: linear-gradient(#f7f7f7,#f7f7f7 100%, transparent 100%) bottom / 100% 1px no-repeat;}
.order-list h5 span{display: inline-block;vertical-align: middle;}
.right-link{width: 60px; margin-top: 25px; text-align: right; line-height: 60px;}
/* 家长服务  我的订单,学习中心 结束 */
.study-stage{padding: 16px 15px;}
.study-stage dt{width: 120px;}
.study-stage dd{margin-left: 10px; padding-left: 8%; padding-bottom: 2em; border-left: 1px solid rgba(153,153,153,0.25); position: relative;-webkit-flex: 1; flex: 1;}
.study-stage dd:after{position: absolute; left: -9px; top: 16px; width: 16px; height: 16px; border-radius: 50%; background-color: #d8d8d8; content: '';}
li.on dd:after{ background-color: #fd8080;}
.study-stage h4{color: #444;}
.study-stage dt h4{font-size: 18px;}
.study-stage dd h4{font-size: 15px;}
.study-stage p{font-size: 13px;}
.study-stage dt p{color: #999;}
.study-stage dd p{color: #777;}
/*  */
.non-pay{background-color: #FED846; border-radius: 0 0 15px 15px; padding: 14px 24px; margin-bottom: 20px;}
.non-pay-bg{background: url('../assets/bg/non-payment@2x.png') no-repeat right center; -webkit-background-size: 74px 72px;
background-size: 74px 72px;padding: 14px 0;}
.non-pay h4{font-size: 20px; line-height: 28px;}
.non-pay p{font-size: 12px; line-height: 24px;}
.order-msg,.sub-title,.cancel-box{margin: 0 16px 10px;}
.sub-title{font-size: 17px; line-height: 36px; position: relative;}
.sub-title:after{border-bottom: 4px solid #FED846; content: ''; width: 2em; position: absolute; left: 0; bottom: 0;}
.order-msg{padding-bottom: 12px; background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat;}
.order-msg p{font-size: 12px; line-height: 24px; color: #000;}
.order-msg span{color: #777;}
.cancel-box{text-align: right; margin-top: 3em;}
.big-cancel-btn{color: #FED846; display: inline-block; font-size: 13px; font-weight: bold;border: 2px solid #FED846;border-radius: 44px; line-height: 40px; padding: 0 26px;}
/*  */
.mt30{margin-top: 30px;}
.empty{text-align: center; margin-top: 40%;}
.empty p,.empty2 p{font-size: 13px; color: #999; font-weight: bold;}
.empty p{line-height: 42px;}
.empty2{text-align: center; margin-top: 20%;}
.empty2 h3{font-size: 15px; margin-top: 30px;}
.empty2 p{line-height: 30px;}
/*  */
.study-details-box{padding: 16px;}
.study-details-box h3{font-size: 18px;}
.study-details-title p{font-size: 13px; color: #999;}
.details-article p{font-size: 13px; line-height: 24px; color: #777;}
.details-article h3{text-align: center; line-height: 36px; margin-top: 10px;}
.details-article h3 strong{display: inline-block;}
.details-article h3 strong:before,.details-article h3 strong:after{display: inline-block; content: ''; width: 16px; height: 8px; vertical-align: middle; background: url('../assets/break_line@2x.png') no-repeat center center; background-size: 16px 8px;}
.details-article h3 strong:before{margin-right: 10px;}
.details-article h3 strong:after{margin-left: 10px;}
/*  */
.empty-tab .tab-control{background: none;}
.empty-tab .empty{margin-top: 15%;}
/* 搜索 */
.search-box{padding-top: 16px;}
.search-box h4{line-height: 60px;}
.search-box span i{margin-right: 8px; vertical-align: middle;}
.search-box strong{display: inline-block;vertical-align: middle;}
.search-box h4 .icon-trash{margin-top: 26px;}
.place-word{color: #333; font-size: 20px; font-weight: bold; line-height: 60px; width: 100%; background: none; border: none;background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat;}
.place-word::-webkit-input-placeholder{
    color: #999; 
}
.search-key a,.search-top input{ border-radius: 36px; font-size: 13px; line-height: 36px;}
.search-key a{display: inline-block; border: 1px solid #999; padding:0 1em; margin: 0 .5em 1em 0; color: #333;}
.search-key a.on{background-color: #FED846; border-color: #FED846;}

.search-top{padding: 8px 0;}
.search-top input{background:#f3f3f3 url('../assets/icon/search-grey@2x.png') no-repeat 20px 12px; background-size: 15px 15px; border:none; width: 100%; box-sizing: border-box; padding-left:50px;}

.triangle{width: 0; height: 0; border-right: 6px solid transparent; border-top: 6px solid #ccc; transform: rotate(-135deg); display: inline-block; margin-bottom: 3px; transition: all .5s;}
a.active .triangle{border-top-color: #FED846;transform: rotate(45deg); margin-bottom: 0; transition: all .5s; }


/* 是否删除搜索历史 */
.cancle-link,.sure-link{display: inline-block; border-radius: 44px; line-height: 30px; padding: 0 1.2em; border: 2px solid #FED846; font-size: 13px;}
.cancle-link{background-color: #fff; color: #FED846;}
.sure-link{background-color: #FED846; color: #4a4a4a;}
/* 找老师列表 */
.teacher-photo{margin-top: 10px; width: 64px; height: 64px;}
.teacher-info{-webkit-flex: 1; flex: 1;}
.t-label{font-style: normal; background-color: #f3f3f3; border-radius: 20px; line-height: 14px; padding: 0 6px; display: inline-block;}
.t-money{color: #FD8080; font-weight: bold;}
.old-money{color: #979797; text-decoration: line-through; font-size: 10px;}
.teacher-class{border-top: 1px solid #eaeaea; margin-top: 6px;padding-top: 4px;}
.teacher-info p{font-size: 10px; color: #777; line-height: 24px;}
.sign i{font-style: normal; color: #fff; display: inline-block; font-size: 10px; width: 14px; line-height: 14px; border-radius: 2px; text-align: center;}
.sign-hot{background-color: #FD8080;}
.sign-try{background-color: #A5B3F4;}
.sign-team{background-color: #8ECE48;}
.sign-class{background-color: #32A5F7;}
.sign-good{background-color: #F5A623;}
.clsss-total{color: #999;}
/* 认证与服务 */
.idservice li,.attention-list li{background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat;}
.idservice li a{display: block; padding: 14px 0 14px 56px; position: relative;}
.idservice li a:before{content: ''; display: inline-block; position: absolute; width: 40px; height: 40px; left: 0;}
.idservice li a.iserver:before{background: url('../assets/icon/server@2x.png') no-repeat left center; background-size: 40px 40px;}
.idservice li a.iqualified:before{background: url('../assets/icon/qualified@2x.png') no-repeat left center; background-size: 40px 40px;}
.idservice li a.irealname:before{background: url('../assets/icon/realname@2x.png') no-repeat left center; background-size: 40px 40px;}
.idservice li a.iauthentic:before{background: url('../assets/icon/authentic@2x.png') no-repeat left center; background-size: 40px 40px;}
.idservice h4{color: #444; font-size: 15px;}
.idservice p{color: #999; font-size: 12px;}
/* 我的关注 */
.attention-list li{    
	display: -webkit-flex; display: -moz-flex; display: flex; align-items:center;
}
.attention-list li img{border-radius: 50%; width: 40px; height: 40px; margin-right: 16px;}
.attention-list li strong,.attention-list li a{display: inline-block; }
.attention-list li strong{line-height: 72px;-webkit-flex: 1; flex: 1;}
.attention-list li a{font-size: 13px; font-weight: bold; color: #999; border: 1px solid rgba(153,153,153,0.50);border-radius: 4px;line-height: 24px; padding: 0 6px;}
/* 课件详情 */
.class-type{margin-top: 16px;}
.class-type h3{font-size: 17px; line-height: 44px; border-bottom: 1px solid #eaeaea;}
.class-type h3 em{font-style: normal; font-size: 12px; text-decoration: line-through; color: #999; display: inline-block; padding: 0 6px;}
.class-type h3 strong{display: inline-block;}
.class-type h3 .nowprice{font-size: 20px; color: #FD8080;}
.class-type ul{flex-direction:row;flex-wrap:wrap;border-bottom: 1px solid #eaeaea;padding: 10px 0;}
.class-type ul li{-webkit-flex: 33.3333%; flex: 33.3333%; text-align: center;padding: 10px 0;}
.class-type ul p{font-size: 11px; color: #777; line-height: 20px;}
.class-type ul p:last-child{font-weight: bold; color: #A5B3F4;}
.class-type ul i{width: 24px; height: 24px; margin-bottom: 4px;}
.icon-c-type{background-image: url('../assets/icon/type@2x.png'); -webkit-background-size: 24px; background-size: 24px;}
.icon-c-badyage{background-image: url('../assets/icon/badyage@2x.png'); -webkit-background-size: 24px; background-size: 24px;}
.icon-c-timeinterval{background-image: url('../assets/icon/timeinterval@2x.png'); -webkit-background-size: 24px; background-size: 24px;}
.icon-c-audition{background-image: url('../assets/icon/audition@2x.png'); -webkit-background-size: 24px; background-size: 24px;}
.icon-c-class{background-image: url('../assets/icon/class@2x.png'); -webkit-background-size: 24px; background-size: 24px;}
.icon-c-time{background-image: url('../assets/icon/time@2x.png'); -webkit-background-size: 24px; background-size: 24px;}
.c-info{padding: 12px 0;}
.c-info p,.point-list li,.class-info p{font-size: 13px; line-height: 24px;}
.point-list li{color: #777; position: relative; padding-left: 13px;}
.point-list li:before{content: ''; display: inline-block; width: 5px; height: 5px; background-color: #D8D8D8; border-radius: 50%; position: absolute; top: 10px; left: 0;}
.class-info{margin-top: 10px; margin-bottom: 100px;}
.class-info h3{line-height: 36px;}
.class-info h3 strong{font-size: 15px;}
.class-info h3 span{font-size: 13px; color: #999; margin-left: 3em;}
.class-info p{color: #777;}
.pay-fix{position: fixed; z-index: 3; bottom: 0; width: 100%; height: 72px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50); background-color: #fff;}
.pay-fix-main{padding: 14px 18px 14px 24px; line-height: 44px;}
.pay-fix strong{color: #FD8080; font-size: 20px;}
.pay-fix .c-consult{background: url('../assets/icon/reply_pre@2x.png') no-repeat center top; -webkit-background-size: 18px 18px;
background-size: 18px 18px; padding-top: 20px; display: inline-block; width: 30px; font-size: 10px; line-height: 12px; vertical-align: middle; font-style: normal; text-align: center;}
.pay-fix .sure-link{line-height: 40px; margin-left: 16px; vertical-align: middle;}


/* 找老师-机构 */
.orgWrap .addWrap{margin: 0;}
.orgWrap .addWrap img{border-radius: 0;}
.orgWrap .nums{background-color: #F7F8FA;width: 32px; text-align: center; line-height: 18px; font-size: 12px; color: #4a4a4a; border-radius: 10px; position: absolute; bottom: 10px; right: 10px;}
.org-info,.org-address{border-bottom: 1px solid #eaeaea; padding-bottom: 6px;}
.orghave .icon-right{margin-top: 7px;}
.org-address{padding-top: 4px;}
.org-address strong,.org-address .i-tel{font-size: 13px; line-height: 24px; padding-left: 22px;}
.org-address strong{color: #4a4a4a; background: url('../assets/icon/address@2x.png') no-repeat left 3px; background-size: 16px 16px;}
.org-address span{font-size: 10px; color: #777; font-weight: normal;}
.org-address .i-tel{background: url('../assets/icon/tel@2x.png') no-repeat left center; background-size: 16px 16px; font-weight: bold; color: #FD8080;}
.nice-class p{padding-left: 8px;}
.nice-class strong{font-size: 13px; line-height: 28px; color: #4a4a4a;}
.nice-class .sign i{margin-top: 8px;}
.nice-class .pull-right{margin-top: 14px;}
.other-class{display: inline-block; border-radius: 44px; line-height: 28px; padding: 0 1.2em; border: 2px solid #FED846; font-size: 13px; color: #FED846; font-weight: bold;}
.nice-class .other-class{margin: 14px 0;}
.nice-class article{border-bottom: 1px solid #eaeaea; padding-bottom: 8px; margin-bottom: 10px;}
.nice-class h4{font-size: 15px; color: #4a4a4a; line-height: 36px;}
.nice-class article p{font-size: 13px; color: #777; line-height: 24px;padding: 0;}
.nice-class article a{color: #A5B3F4; font-size: 13px; font-weight: normal;}
.nice-class article .smalltitle{font-size: 13px; color: #444;}
.nice-class li{font-size: 13px; line-height: 18px;}
.teacher-show{justify-content: space-between; flex-wrap:wrap;}
.teacher-show figure{text-align: center; width: 64px; margin-bottom: 4px;}
.teacher-show figure img{width: 64px; height: 64px; border-radius: 50%;}
.teacher-show figcaption{font-size: 13px; color: #4a4a4a;  line-height: 24px; font-weight: bold;}
.stu-comment h3 a{color: #A5B3F4; font-size: 13px; font-weight: normal;}
.stu-comment li{margin-bottom: 20px; margin-top: 20px;}
.stu-comment .stu-photo{width: 40px; margin-right: 8px;}
.stu-comment .stu-photo img{width: 40px; height: 40px; border-radius: 50%;}
.stu-comment .stu-name,.stu-comment p{font-size: 13px; color: #333; line-height: 24px;}
.stu-comment .stu-time{font-size: 12px; color: #777; line-height: 20px;}
.stu-comment .teacher-reply{background-color: #f7f8fa; border-radius: 8px; padding: 8px;}
.teacher-reply h5{margin-bottom: 6px;}
.teacher-reply h5 strong{font-size: 13px; color: #FED846; display: inline-block; vertical-align: middle; line-height: 16px;}
.teacher-reply p{color: #777; line-height: 20px; padding-left: 20px;}
.evaluate-head{margin: 16px 0;}
.evaluate-left{border-right: 1px solid #eaeaea;}
.evaluate-left p{line-height: 32px;}
.evaluate-right{font-size: 12px; color: #999; padding-top: 16px; font-weight: bold;}
/* 个人信息 form表单 */
.mobile-main{min-height: 100vh; background: url('../assets/bg/SFZ@2x.png') no-repeat center 55vh; -webkit-background-size: 160px 132px;
background-size: 160px 132px;}
.form-group{margin-bottom: 8px;}
.form-group label{display: block; font-size: 12px; color: #999; line-height: 20px;}
.form-group input[type="tel"],.form-group input[type="text"]{display: block;background: none; border: none; border-bottom: 1px solid #ddd; width: 100%; line-height: 32px; font-size: 15px;}
.form-group input[type="tel"]:focus,.form-group input[type="text"]:focus{border-color: #FED846;}
.form-group input.input-error{border-color: #FD8080;}
.form-group input::placeholder{color: #999;}
.input-group{position: relative;}
.input-group i{position: absolute; right: 0;}
.input-group .icon-close{top: 8px;}
.error-info{color: #FD8080; font-size: 12px; line-height: 28px;}
.getcode{display: inline-block; color: #FED846; font-size: 15px; font-weight: bold; line-height: 30px;}
.getcode.sending{color: rgba(254, 216, 70, .5);}
.foot-btn{position: absolute; bottom: 20px; right: 16px;}
.foot-btn{width: 110px; line-height: 44px; font-size: 15px; border-radius: 40px; border: none; background-color: #FED846;}
.foot-btn:disabled{background-color: #d8d8d8; color: #fff;}
input[type=radio]{border: 2px solid #c7c7c7; outline: 0!important; background-color: transparent; -webkit-appearance: none; border-radius: 100%; width: 16px; height: 16px; position: relative; vertical-align: middle; line-height: 20px;}
input[type=radio]:checked{border-color: #fe8080;}
input[type=radio]:checked:after{content: ''; width: 8px; height: 8px; background-color: #fe8080;border-radius: 100%; display: inline-block; position: absolute; left: 2px; top: 2px;}
.gender-group label,.gender-group span{display: inline-block;}

.form-group select{display: block; width: 100%; text-align: center; -webkit-appearance:none;background: url('../assets/icon/pull_down@2x.png') no-repeat right center; -webkit-background-size: 13px 8px; background-size: 13px 8px; border: none;}
.form-group select:focus{outline: none;}
/* 轮播图 */
.addWrap{width:100%;background:#fff; margin-top: 8px;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > li {float: left;width: 100%;position:relative;}
.addWrap img{width: 100%; display: block; border-radius: 8px;}
#position{ position:absolute; bottom:3px; right:0; width:100%; padding-right:8px;text-align:right;}
#position li{width:7px;height:7px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#fff;}
#position li.cur{background-color:#d2d2d2;}
.img-responsive { display: block; max-width: 100%;  height: auto;}
/* 弹出层 */
.modal{display: none;}
.modal-all{display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}
.modal-bg,.modal-box ul{width: 100%; left: 0;}
.modal-bg{ position: absolute; bottom: 0; background-color: rgba(0, 0, 0, .4); z-index: 1; height: 100%;}
.tab-modal .modal-bg{height: 80%;}
.modal-box{position: absolute; z-index: 2; width: 100%;}
.tab-modal .modal-box{position: relative;}
.search-modal .modal-box{top: 0; height: 100%;}
.tip-main{background-color: #fff; border-radius: 13px; width: 90%; height: 160px; position: absolute; left: 5%; top: 25%; z-index: 3; padding: 20px; box-sizing: border-box;}
.tip-main h3{font-size: 20px; line-height: 40px; height: 80px;}
.modal-box ul{background-color: #fff; border-radius: 0 0 15px 15px; position: absolute; top: -1px; z-index: 3; border-top: 1px solid #eaeaea;}
.modal-box li{margin: 0 16px; line-height: 48px; font-size: 13px;}
.modal-box li.on{background: url('../assets/right_sel@2x.png') no-repeat right center; background-size: 20px 16px; color: #FED846;}
/* 虚化内容 */
.blur{ -webkit-filter: blur(4px);filter: blur(4px);}
/* 星星等级 */
.fivestar i{background-image: url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'); background-size: 10px 10px,10px 10px,10px 10px,10px 10px,10px 10px; background-position: 0 center, 12px center,24px center,36px center,48px center; background-repeat: no-repeat; width: 60px; height: 10px; display: inline-block; margin-right: 2px;}
.fivestar i.four{background-image: url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star2@2x.png');}
.fivestar i.three{background-image: url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png');}
.fivestar i.two{background-image: url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png');}
.fivestar i.one{background-image: url('../assets/icon/teacher_star@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png');}
.fivestar i.zero{background-image: url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png'),url('../assets/icon/teacher_star2@2x.png');}

.bfivestar i{background-image: url('../assets/icon/comment_star@2x.png'),url('../assets/icon/comment_star@2x.png'),url('../assets/icon/comment_star@2x.png'),url('../assets/icon/comment_star@2x.png'),url('../assets/icon/comment_star@2x.png'); background-size: 14px 14px,14px 14px,14px 14px,14px 14px,14px 14px; background-position: 0 center, 16px center,32px center,48px center,64px center; background-repeat: no-repeat; width: 78px; height: 14px; display: inline-block; margin-right: 2px;}


@media only screen and (-webkit-min-device-pixel-ratio:3){
	.icon-right{background: url('../assets/icon/entry@3x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
	.icon-down{background: url('../assets/icon/pull_down@3x.png') no-repeat center center;-webkit-background-size: 13px 8px;background-size: 13px 8px;}
	.icon-order{background: url('../assets/icon/order@3x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
	.icon-study-empty{background: url('../assets/bg/learning-center@3x.png') no-repeat center center; -webkit-background-size: 154px 160px; background-size: 154px 160px;}
	.icon-collection-empty{background: url('../assets/bg/collect@3x.png') no-repeat center center; -webkit-background-size: 154px 160px; background-size: 154px 160px;}
	.icon-order-empty{background: url('../assets/bg/indent@3x.png') no-repeat center center; background-size: 154px 160px;}
	.icon-assess-empty{background: url('../assets/bg/evaluate@3x.png') no-repeat center center; background-size: 154px 160px;}
	.non-pay-bg{background: url('../assets/bg/non-payment@3x.png') no-repeat right center; -webkit-background-size: 74px 72px; background-size: 74px 72px;}
	.details-article h3 strong:before,.details-article h3 strong:after{background: url('../assets/break_line@3x.png') no-repeat center center; background-size: 16px 8px;}
	.icon-reservations-empty{background: url('../assets/bg/succeed@3x.png') no-repeat center center; background-size: 132px 120px;}
	.icon-close{background: url('../assets/close/gray@3x.png') no-repeat center center; background-size: 20px 20px;}
	.icon-teacher{background: url('../assets/icon/teacher@3x.png') no-repeat center center; background-size: 20px 20px;}
	.icon-student{background: url('../assets/icon/student@3x.png') no-repeat center center; background-size: 20px 20px;}
	.icon-online{background: url('../assets/icon/online@3x.png') no-repeat center center; background-size: 20px 20px;}
	.icon-organization{background: url('../assets/icon/organization@3x.png') no-repeat center center; background-size: 20px 20px;}
	.icon-hot{background: url('../assets/icon/hot@3x.png') no-repeat center center; background-size: 16px 16px;}
	.icon-history{background: url('../assets/icon/history@3x.png') no-repeat center center; background-size: 16px 16px;}
	.icon-trash{background: url('../assets/trash@3x.png') no-repeat center center; background-size: 16px 16px;}
	.icon-reply{background: url('../assets/icon/reply_pre@3x.png') no-repeat left center; background-size: 16px 16px;}
	.icon-close{background: url('../assets/register/close@3x.png') no-repeat; background-size: 16px 16px;}
	.search-top input{background:#f3f3f3 url('../assets/icon/search-grey@3x.png') no-repeat 20px 12px; background-size: 15px 15px;}
	.icon-c-type{background-image: url('../assets/icon/type@3x.png'); -webkit-background-size: 24px; background-size: 24px;}
	.icon-c-badyage{background-image: url('../assets/icon/badyage@3x.png'); -webkit-background-size: 24px; background-size: 24px;}
	.icon-c-timeinterval{background-image: url('../assets/icon/timeinterval@3x.png'); -webkit-background-size: 24px; background-size: 24px;}
	.icon-c-audition{background-image: url('../assets/icon/audition@3x.png'); -webkit-background-size: 24px; background-size: 24px;}
	.icon-c-class{background-image: url('../assets/icon/class@3x.png'); -webkit-background-size: 24px; background-size: 24px;}
	.icon-c-time{background-image: url('../assets/icon/time@3x.png'); -webkit-background-size: 24px; background-size: 24px;}
/* 小星星 */
	.fivestar i{background-image: url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'); background-size: 10px 10px,10px 10px,10px 10px,10px 10px,10px 10px; background-position: 0 center, 12px center,24px center,36px center,48px center;}
	.fivestar i.four{background-image: url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star2@3x.png');}
	.fivestar i.three{background-image: url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png');}
	.fivestar i.two{background-image: url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png');}
	.fivestar i.one{background-image: url('../assets/icon/teacher_star@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png');}
	.fivestar i.zero{background-image: url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png'),url('../assets/icon/teacher_star2@3x.png');}

	.bfivestar i{background-image: url('../assets/icon/comment_star@3x.png'),url('../assets/icon/comment_star@3x.png'),url('../assets/icon/comment_star@3x.png'),url('../assets/icon/comment_star@3x.png'),url('../assets/icon/comment_star@3x.png'); background-size: 14px 14px,14px 14px,14px 14px,14px 14px,14px 14px; background-position: 0 center, 16px center,32px center,48px center,64px center; background-repeat: no-repeat; width: 78px; height: 14px; display: inline-block; margin-right: 2px;}

	.idservice li a.iserver:before{background: url('../assets/icon/server@3x.png') no-repeat left center; background-size: 40px 40px;}
	.idservice li a.iqualified:before{background: url('../assets/icon/qualified@3x.png') no-repeat left center; background-size: 40px 40px;}
	.idservice li a.irealname:before{background: url('../assets/icon/realname@3x.png') no-repeat left center; background-size: 40px 40px;}
	.idservice li a.iauthentic:before{background: url('../assets/icon/authentic@3x.png') no-repeat left center; background-size: 40px 40px;}
	.org-address strong{background: url('../assets/icon/address@3x.png') no-repeat left 3px; background-size: 16px 16px;}
	.org-address .i-tel{background: url('../assets/icon/tel@3x.png') no-repeat left center; background-size: 16px 16px;}
	.t-search{width: 24px; height: 24px;background: url('../assets/icon/tsearch@3x.png') no-repeat left center; background-size: 24px 24px;}
}

