body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,figure,ul,ol,li{padding: 0; margin: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
.clearfix:before,.clearfix:after ,.ac-list div:before,.ac-list div:after{
  content: " ";
  display: table;
}
.clearfix:after ,.ac-list div:after{
  clear: both;
}
.tc{text-align: center;}
.tr{text-align: right;}
.tl{text-align: left;}
.pull-left{float: left;}
.pull-right{float: right;}
[class^="icon-"],[class*=" icon-"]{display: inline-block;vertical-align: middle;}
.icon-right{width: 8px; height: 12px; background: url('../assets/icon/entry@2x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
.icon-order{width: 16px; height: 20px; background: url('../assets/icon/order@2x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}



.container{padding: 0 16px;}
body{font-family: PingFangSC-Regular; color: #444;-webkit-font-smoothing: antialiased}
/* 家长服务  活动中心 开始 */
.ac-list img{display: block; width: 100%; border-radius: 15px 15px 0 0;}
.ac-list li{border-radius: 15px; box-shadow: 0 3px 5px rgba(0, 0, 0, .1); margin: 24px 0;}
.ac-list p,.ac-list div{padding-left: 16px; padding-right: 16px;}
.ac-list p{font-size: 16px; line-height: 36px; color: #444; margin-top: 4px;}
.ac-list span{line-height: 16px; display: inline-block; margin-bottom: 10px;}
.ac-list .ac-des{font-size: 12px; color: #999; float: left;}
.ac-list .ac-time{font-size: 10px; color: #444; float: right;}
/* 家长服务  活动中心 结束 */
/* 家长服务  我的订单 开始 */
.order h2{font-size: 24px; line-height: 60px; padding: 0 16px;}
	/* tab */
.tab-control{display: table; width: 100%;table-layout: fixed; padding-bottom: 8px; 
background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat;
}
.tab-control a{display: table-cell; font-size: 16px; font-weight: bold; line-height: 38px; text-align: center; width: 1%; position: relative; color: #3F3F3F;}
.tab-control a.active{color: #FED846;}
.tab-control a.active:after{display: inline-block; width: 16px; height: 3px;background-color: #FED846; content: ''; position: absolute;left: 50%; margin-left: -8px; bottom: 0;}
	/* list */
.order-list{padding: 0 16px;}
.order-list li{background: linear-gradient(#eaeaea,#eaeaea 100%, transparent 100%) bottom / 100% 1px no-repeat; padding-bottom: 12px;}
.order-list mark{background-color: #FED846; border-radius: 4px; font-size: 12px; padding: 2px;}
.order-list h3{line-height: 36px;}
.order-list h3 strong{font-size: 16px; color: #444;}
.order-list a{display: inline-block;}
.order-list dl{width: 68vw; overflow: hidden;}
.order-list dt{width: 64px; height: 64px; float: left; padding-right: 12px;}
.order-list dt img{display: block; width: 100%; border-radius: 10px;}
.order-list dd{float: left; line-height: 22px;}
.order-list dd h4{font-size: 14px;}
.order-list dd p{font-size: 12px;}
.order-list dd .time{font-size: 10px; margin-top: 6px; color: #444;}
.order-list dd span{padding-right: 12px; color: #777;}
.order-list .tr{padding-top: 12px;}
.list-right{width: 70px;}
.list-right span,.list-right strong{display: block; text-align: right;}
.list-right .pay-status{font-size: 14px; font-weight: bold; line-height: 24px; margin-top: 4px;}
.nopay{color: #FED846;}
.okpay{color: #A5B3F4;}
.cancelpay{color: #999;}
.price{color: #FD8080; font-size: 20px; margin-top: 6px;}
.status{font-size: 10px;}
.cancel-btn,.delete-btn{font-size: 12px; color: #4a4a4a; border: 1px solid rgba(153,153,153,.5); border-radius: 24px; line-height: 24px; padding: 0 12px;}
.order-list h5{font-size: 14px; color: #4a4a4a; line-height: 32px;background: linear-gradient(#f7f7f7,#f7f7f7 100%, transparent 100%) bottom / 100% 1px no-repeat;}
.order-list h5 span{display: inline-block;vertical-align: middle;}
.right-link{width: 60px; margin-top: 25px; text-align: right; line-height: 60px;}

/* 家长服务  我的订单 结束 */


@media only screen and (-webkit-min-device-pixel-ratio:3){

    
	.icon-right{background: url('../assets/icon/entry@3x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
	.icon-order{background: url('../assets/icon/order@3x.png') no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
}

